.navbar {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(20px);
    background-color: "#ffffff";
}

@media (min-width: 992px) {
  .login-link, .logout-link {
    background-color: rgb(173, 173, 173);
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  .login-link:hover, .logout-link:hover {
    background-color: rgba(173, 173, 173, 0.8);
  }

  .register-link, .requests-link {
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    background-color: #9147FF;
    color: #ffffff !important;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
  }

  .register-link:hover, .requests-link:hover {
    background-color: rgba(145, 71, 255, 0.8);
  }

  .catalog-link {
    font-size: 1.5rem;
    font-weight: 600;
    color: #212529;
    text-decoration: none;
  }
}

@media (max-width: 991px) {
  .login-link, .logout-link, .register-link, .profile-link, .requests-link {
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem 0;
    color: #212529;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .catalog-link {
    font-size: 1.5rem;
    font-weight: 500;
    color: #212529;
    padding: 0;
    text-decoration: none;
  }
}

.fw-500 {
  font-weight: 500;
}


